.container {
	margin: 1rem;
}
/* 
.carousel ul {
	display: flex;
	flex-wrap: wrap;
} */

.react-multi-carousel-dot-list{
    margin: 1rem;
    padding-top: -1rem;
}

@media only screen and (min-width: 500px) {
	.container {
		margin: 1rem 5%;
	}
}

@media only screen and (min-width: 600px) {
	.carousel ul li {
		padding-right: 0.5rem;
	}
}
