/* .backDrop {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	z-index: 10;
}

@media only screen and (min-width: 768px) {
	.backDrop {
		display: none;
	}
} */