/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: rgb(0, 139, 46);
$fontsize: 18px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}