/* label {
	display: flex;
	flex-direction: column;
	width: 1.9rem;
	cursor: pointer;
    z-index: 20;
}

label span {
	background: black;
	border-radius: 20rem;
	height: 0.2rem;
	margin: 0.19rem 0;
	transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
*/

.nav_tgl {
	display: inline-block;
	cursor: pointer;
	position: fixed;
	z-index: 100;
	right: 30px;
	top: 30px;
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 50%;
	padding: 0;
	background: #fff;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
	line-height: 0.6;
	text-align: center;
}
.nav_tgl > span {
	display: inline-block;
	position: relative;
	height: 2px;
	width: 34px;
	border-radius: 1px;
	background: #293335;
	vertical-align: middle;
}
.nav_tgl > span:before,
.nav_tgl > span:after {
	display: inline-block;
	position: absolute;
	content: '';
	height: 2px;
	border-radius: 1px;
	background: #293335;
	transition: all 200ms;
}
.nav_tgl > span:before {
	top: -11px;
	left: 3px;
	width: 28px;
}
.nav_tgl > span:after {
	top: 11px;
	left: 6px;
	width: 22px;
}
.nav_tgl:focus {
	outline: none;
}
.nav_tgl:hover > span:after,
.nav_tgl:hover > span:before {
	width: 34px;
	left: 0;
}

.nav:before {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	content: '';
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	transition: all 500ms ease-in-out;
	clip-path: circle(30px at calc(100% - 65px) 65px);
	visibility: hidden;
}

.menu.active .nav:before {
	visibility: visible;
	clip-path: circle(100%);
}
.menu.active .nav_tgl > span {
	height: 0;
}
.menu.active .nav_tgl > span:after,
.menu.active .nav_tgl > span:before {
	top: 0px;
	left: 0;
	width: 34px;
}
.menu.active .nav_tgl > span:after {
	transform: rotate(-45deg);
}
.menu.active .nav_tgl > span:before {
	transform: rotate(45deg);
}



@media only screen and (min-width: 768px) {
	.menu {
		display: none;
	}
} 