label {
	display: flex;
	flex-direction: column;
	width: 3.5rem;
	cursor: pointer;
    z-index: 20;
}

label span {
	background: black;
	border-radius: 0.3rem;
	height: 0.4rem;
	margin: 0.3rem 0;
	transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

@media only screen and (min-width: 768px) {
	.body {
		display: none;
	}
}
