.head {
	font-size: 80%;
	letter-spacing: 0.08rem;
}

@media only screen and (min-width: 425px) {
	.head {
		letter-spacing: 0.15rem;
	}
}

@media only screen and (min-width: 768px) {
	.head {
		font-size: 100%;
	}
}


@media only screen and (min-width: 1440px) {
	.head {
		font-size: 1vw;
	}
}