.container {
	margin: 1rem;
	font-family: var(--font-2);
    /* padding-bottom: 10rem; */
}

.container header {
	font-family: font-1;
	font-size: 17vw;
}

@media only screen and (min-width: 500px) {
	.container {
		margin: 0 5%;
	}
}

@media only screen and (min-width: 600px) {
	.container article {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media only screen and (min-width: 768px) {
	.container ul li {
		font-size: 2vw;
	}
}

@media only screen and (min-width: 1024px) {
	.container header {
		font-size: 15vw;
	}
	.container ul li {
		font-size: 1.5vw;
	}
}

@media only screen and (min-width: 1440px) {
	.container ul li {
		font-size: 1.3vw;
	}
}
