.nav {
	padding: 1.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.15);
    z-index: 10;
	backdrop-filter: blur(5px);
	font-family: var(--font-2);
}

.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* margin-right: 0.5rem; */
}

@media only screen and (min-width: 768px) {
	.nav {
		margin-bottom: 2rem;
	}

	.list {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (min-width: 500px) {
	.nav {
		padding: 1.5rem 5%;
	}
}

@media only screen and (min-width: 1440px) {
	.nav {
		margin-bottom: 2vw;
		padding: 1.5% 5%;
	}
}
