.list {
	display: none;
}

.listYes {
	display: flex;
	position: fixed;
	z-index: 30;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	color: #1f454e;
	transition-delay: 450ms;
}

.listNo {
	display: none;
}

.list_item {
	margin: 0 0.5rem;
}

@media only screen and (min-width: 768px) {
	.list {
		display: flex;
	}
}
