.list {
	display: none;
}

.listYes {
	display: flex;
	position: fixed;
	z-index: 30;
	left: 50%;
	top: 240%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	color: var(--main-1-color);
	transition-delay: 450ms;
}

.listNo {
	display: none;
}

.list_item {
	margin-left: 0.8rem;
}

.link_item {
	color: var(--main-1-color);
}

@media only screen and (min-width: 768px) {
	.list {
		color: var(--main-2-color);
		display: flex;
		position: unset;
		z-index: 30;
		left: unset;
		top: unset;
		transform: unset;
		flex-direction: row;
	}
	.link_item {
		color: var(--main-2-color);
	}
}

@media only screen and (min-width: 1440px) {
	.list_item {
		font-size: 1vw;
		margin-left: 1rem;
	}
}
