.glass {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	left: 0;

	z-index: 40;
	width: 100%;
	height: 3rem;
	font-size: 150%;

	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.15);

	backdrop-filter: blur(5px);
}

/* .vertical {
	display: none;
}

@media only screen and (min-width: 768px) {
	.vertical {
        display: block;
        z-index: 100;
        width: 100px;
        height: 100px;
	}

	.glass {
		position: absolute;
		right: 5%;
		left: unset;

		height: 100px;
		width: 100px;

		height: 50%;
		width: 3rem;

		border: 1px solid var(--main-2-color);
		border-radius: 1.2rem;
	}
} */
