.glass {
	position: fixed;
	bottom: 0;
	left: 0;
    z-index: 40;
	width: 100vw;
	height: 3rem;
	font-size: 150%;

	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.15);

	backdrop-filter: blur(5px);
}
